@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
  font-family: "Kanit", sans-serif;
}

.swiper {
  width: 1200px;
  height: 600px;
}

@media only screen and (max-width: 1420px) {
  .swiper {
    width: 1090px;
  }
}

@media only screen and (max-width: 1294px) {
  .swiper {
    width: 1000px;
  }
}

@media only screen and (max-width: 1420px) {
  .swiper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.tooltip-react {
  --tooltip-color: #00bfff;
  --tooltip-text-color: #fff;
}

.tooltip-sass {
  --tooltip-color: #ff1493;
  --tooltip-text-color: #fff;
}

.tooltip-redux {
  --tooltip-color: #512bb9;
  --tooltip-text-color: #fff;
}

.tooltip-stripe {
  --tooltip-color: #7653d4;
  --tooltip-text-color: #fff;
}

.tooltip-mysql {
  --tooltip-color: #294599;
  --tooltip-text-color: #fff;
}

.tooltip-tailwindcss {
  --tooltip-color: #00ced1;
  --tooltip-text-color: #fff;
}

.tooltip-expressjs {
  --tooltip-color: #f8f8ff;
  --tooltip-text-color: #000000;
}
